.nav {
    transform: translate(0, 100%);
    width: 100%;
    transition: height @time-transition ease 0s; // Reset style for normal view
    left: 0;
}

html {
    // Active
    &.js_menu-active {
        // When active burger
        .navbar__button {
            >.plank {
                // less/plugins/animations/burger.less
                .add-burger-animation();
            }
        }
        .nav {
            @media @media_burger-hide {
                padding: 0;
            }
        } // Transition end
        &--end {
            .nav {
                @height: extract(@header-height, length(@header-height));
                height: calc(100vh - @height) !important;
                overflow-y: auto;
                @media @media_burger-hide {
                    height: 100% !important;
                }
            }
        } // Global overlay
        .page__overlay {
            z-index: @zindex-menu - 1;
            background-color: fade(@color-black, 80%);
        } // Toogle overlay
        .nav__overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            @height: extract(@header-height, length(@header-height));
            height: calc(100vh - @height) !important;
            z-index: @zindex-menu - 1;
            @media @media_burger-hide {
                display: none;
            }
        }
    } // Inactive
    &:not(.js_menu-active) {
        .nav {
            @media @media_burger-show {
                height: 0 !important;
            }
        }
    }
}