.debug {
    &-title {
        font-size: 20px;
        margin: 35px 0 20px;
        position: relative;
        padding-left: 50px;

        &:before {
            content: 'B';
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: blue;
            color: white;
        }

        &--mod {
            font-size: 18px;
            font-weight: 500;
            &:before {
                content: 'M';
                background-color: green;
            }
        }

        &--addon {
            font-size: 16px;
            font-weight: 500;
            &:before {
                content: 'Adddon';
                font-size: 9px;
                background-color: black;
            }
        }

        &--responsive {
            font-size: 18px;
            font-weight: 500;
            &:before {
                content: 'R';
                background-color: red;
            }            
        }
    }
    &-header {
        font-size: 30px;
        font-weight: 600;
        margin: 35px 0;
    }
    &-code {
        white-space: pre;
        font-size: 15px;
        overflow-x: auto;
        padding: 30px 15px 15px;
        border-radius: 6px;
        border: 2px solid #dedede;
        position: relative;
        color: @color-black;
        &:before {
            content: 'code';
            top: 5px;
            left: 5px;
            font-size: 12px;
            color: #dedede;
            position: absolute;
            font-weight: bold;
        }
    }
    &-view {
        padding: 30px 15px 15px;
        border-radius: 6px;
        border: 1px dashed #dedede;
        background-color: #fafafa;
        position: relative;
        &:before {
            content: 'preview';
            top: 5px;
            left: 5px;
            font-size: 12px;
            color: @color-black;
            position: absolute;
            font-weight: bold;
            text-shadow: 0 0 5px @color-white;
        }
    }
}

.debug-wrap {
    max-width: 1400px !important;
}

.debug-iframe {
    height: 400px;
    margin: 0 auto;
    animation-name: debug-responsive;
    animation-duration: 4s;
    animation-timing-function: ease-out; // ease|ease-in|ease-out|ease-in-out|linear|step-start|step-end|cubic-bezier()
    animation-delay: 0s;
    animation-direction: alternate; // normal|reverse|alternate|alternate-reverse
    animation-iteration-count: infinite; // number|infinite
    animation-fill-mode: none; // none|backwards|forwards|both
    animation-play-state: running; // running|paused
}

@keyframes debug-responsive {
    from { 
        width: 100%;
    }
    to  { 
        width: 320px;
    }
}