&:not(.js_fullslider) {
  .fullslider__arrow {
    display: none;
  }
}

html.js_fullslider {
  width: 100%;
  height: 100%;
  @media @tablet {
    width: max-content;
    height: 100vh;
    overflow-y: hidden;
  }
}

body.js_fullslider {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.2;
  @media @tablet {
    width: max-content;
    height: 100vh;
    overflow-y: hidden;
  }
}

.fullslider__container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  @media @mobile {
    width: 100% !important;
  }
  @media @tablet {
    .clearfix();
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;

    &:before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      z-index: 0;
      position: absolute;
      transition: background-color 1s @time-transition;
      background-color: rgba(8,3,86,.8);
    }
  }
}

.fullslider__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  height: 100%;
  padding: @header-height 20px;
  @media @tablet {
    display: block;
    width: 100vw;
    float: left;
    height: 100%;
    padding: 0;
  }
  @media @desktop {
    padding: 0;
  }
}

.fullslider {
  // Button
  &__button {
    display: none;
    @media @tablet {
      display: block;
      top: 50%;
      position: fixed;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      border: 2px solid #bea67c;
      cursor: pointer;
      z-index: 5;
      transform: translateY(-50%);

      & > .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--left {
      @media @tablet {
        left: 40px;
      }
      @media @desktop {
        left: 60px;
      }
    }

    &--right {
      @media @tablet {
        right: 40px;
      }
      @media @desktop {
        right: 60px;
      }
    }
    // end .fullslider__slide__button
  }
  // DOTS
  &__dots {
    display: none;
    @media @tablet {
      display: block;
      position: fixed;
      z-index: 4;
      bottom: 40px;
      left: 50%;
      text-align: center;
      font-size: 0;
      transform: translateX(-50%);

      > .fullslide__dot {
        width: 22px;
        height: 22px;
        border: 2px solid #bea67c;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        margin-right: 11px;
        transition: border-color 1s @time-transition, background-color 1s @time-transition;

        &.active {
          background-color: @color-white;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media @desktop {
      bottom: 31px;
    }
  }
  // end .fullslider__slide
}
