/*=========================================================================
|| Plugin: breadcrumbs.less
===========================================================================
|| Style for breadcrumbs navigation
|| EMMET
.breadcrumbs>.breadcrumbs__item*10>a{$}
=========================================================================*/

.breadcrumbs {
  font-size: 16px;

  // Item
  &__item {
    display: inline-block;
    
    // Separator
    padding-left: 15px;
    position: relative;
    &:before {
      content: "<";
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:first-child {
      padding-left: 0;
      &:before {
        content: none;
      }
    }

    // Link
    a {
      .add-hover({
        color: red;
      });
    }

  }
}