/*=========================================================================
|| Plugin: no-script.less
===========================================================================
|| Information about disabled javascript
=========================================================================*/


.info-no-script {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: fade(@color-black, 80%);
  top: 0;
  left: 0;
  z-index: @zindex-first;

	&__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    padding: 25px 20px;
    background-color: fade(@color-black, 80%);
    color: @color-white;
    border-radius: 10px;
	}

  &__header {
    font-size: 18px;
    text-align: center;
  }

  &__text {
    font-size: 16px;
    margin-top: 16px;
  }

}
