/*
Scale lines

Markup:
<div class="animation-scale-lines">
    <span></span>
    <span></span>
    <span></span>
</div>

Style guide: Animation.scale lines
*/

@keyframes animation-scale-lines {
	from {
		height: 60%;
		opacity: 0.8;
	}

	to {
		height: 100%;
		opacity: 1;
	}
}

.animation-scale-lines {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 36px;
	margin: 0 auto;

	> span {
		display: inline-block;
		width: 6px;
		height: 60%;
		margin-left: 6px;
		animation: animation-scale-lines 0.6s infinite alternate;
		background-color: color("primary");

		&:first-child {
			margin-left: 0;
		}

		&:nth-child(2) {
			animation-delay: 0.2s;
		}

		&:nth-child(3) {
			animation-delay: 0.4s;
		}
	}
}
